<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ulisboa.tecnico.cmov.airdesk" >
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".context.AirDeskApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateVisible|adjustResize"
        >
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/FrontTheme"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WorkspaceDetailViewActivity"
            android:label="@string/title_activity_workspace_detail_view"
            android:parentActivityName=".activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.CreateWorkspaceActivity"
            android:label="@string/title_activity_create_workspace"
            android:parentActivityName=".activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.TextFileEditActivity"
            android:label="@string/title_activity_text_file_edit"
            android:parentActivityName=".activity.WorkspaceDetailViewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.WorkspaceDetailViewActivity" />
        </activity>
        <activity
            android:name=".activity.CreateFileActivity"
            android:label="@string/title_activity_create_file"
            android:parentActivityName=".activity.WorkspaceDetailViewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.WorkspaceDetailViewActivity" />
        </activity>
        <activity
            android:name=".activity.CreateUserActivity"
            android:label="@string/title_activity_create_user"
            android:parentActivityName=".activity.MainActivity" >
        </activity>
        <activity
            android:parentActivityName=".activity.WorkspaceDetailViewActivity"
            android:name=".activity.EditWorkspaceActivity"
            android:label="@string/title_activity_edit_workspace" >
        </activity>
        <activity
            android:name=".activity.EditAccessListActivity"
            android:label="@string/title_activity_edit_access_list"
            android:parentActivityName=".activity.WorkspaceDetailViewActivity">
        </activity>
    </application>

</manifest>
